<div class="principal">


  <form autocomplete="off"  #forma=ngForm>

    <div class="container">
      <div class="row pt-2">
        <div  class="col">

                <textarea id="w3review" name="texto" class="form-control"
                          [(ngModel)] = "texto" placeholder="Ingrese texto" rows="4" cols="50">
                </textarea>

        </div>

      </div>

      <hr />

      <div class="row">
        <div  class="col pregunta">
          {{ texto }}
        </div>
      </div>



    </div>

  </form>

</div>
