/* You can add global styles to this file, and also import other style files */
body, html {
  height: 100%;
}

.principal {
  background-image: url("src/assets/img/fondo_principal.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pregunta {
  text-align: justify;
  color: darkblue;
  font-size: x-large;
}

.comentario {
  background-image: url("src/assets/img/fondo_principal.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff;
  background-position-y: center;
  padding: 10px 40px;
  color: darkblue;
}
